{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Like listings</h2>

    {% if listings %}
    <div class="col-12">
	    <ul>
	    {% for listing in listings %}
	    	<li class="list-group-item d-flex">
	    		<img src="{{ listing.listing.image_url }}" class="img-fluid rounded float-left" alt="alternatetext">
	    		<div class="d-flex flex-column justify-content-center">
		        	<a href="{% url 'auctions:listing' listing.listing.name %}">{{ listing.listing.name }}</a>
		        	<br><p> Price: ${{ listing.listing.price }} </p>
		        	<h6> Created {{ listing.listing.created_date }} </h6>
		        </div>
	    	</li>
	    {% endfor %}
	    </ul>
	</div>
	{% else %}
	    <p>No listings are in watchlist.</p>
	{% endif %}
{% endblock %}